### 문자열은 어떻게 사용할까

- "문자열"

In [2]:
# 큰 따옴표 
a = "hello world"
print(a)
print(type(a))

hello world
<class 'str'>

In [3]:
# 작은 따옴표
b = 'python is fun'
print(b)
print(type(b))

python is fun
<class 'str'>

In [5]:
# 큰 따옴표 3개(한 후 스페이스바로 하면 쉽게 정리가능)
c = """ 
Life is too short, you need python""" 

print(c)
print(type(c))

Life is too short, you need python
<class 'str'>

In [6]:
# 작은 따옴표 3개
d = ''' Life is too short, you need python'''

print(d)
print(type(d))

 Life is too short, you need python
<class 'str'>

In [7]:
food = "python's favorite food is perl"
print(food)

python's favorite food is perl

In [8]:
food = 'python's favorite food is perl'
print(food)

SyntaxError: unterminated string literal (detected at line 1) (2554431777.py, line 1)

In [11]:
say = '"python is very easy." he says.' 


print(say)

"python is very easy." he says.

In [15]:
food = 'python\'s faorite food is perl' 
say = "\"python is very easy.\" he says."
print (food) 
print(say)

python's faorite food is perl
"python is very easy." he says.

### 여러 줄 문자열 표현

In [16]:
# 이스케이프 코드 \n(줄바꿈 코드)

multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [20]:
# 작은따옴표3개, 큰따옴표3개 활용

multiline = '''
    "Life" is too short
    You need python
'''

print(multiline)

    "Life" is too short
    You need python

### 문자열 연산

In [23]:
# 문자열 더하기

head = "python" 
tail = " is fun!"

print(head +tail)

python is fun!

In [25]:
# 문자열 곱하기

a = "python" 
print(a * 5)

pythonpythonpythonpythonpython

In [26]:
print("=================================")
print("=" * 50)
print("My Program")
print("=" * 55)

=================================
==================================================
My Program
=======================================================

In [27]:
# 문자열 길이 구하기 len()

a = "Life is too short"
len(a)

17

In [29]:
b = "p yhton"
len(b)

7

### 문자열 인덱싱과 슬라이싱

In [38]:
a = "life is too short, you need python" 

print(len(a))
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[-1])
print(a[0] + a[1] + a[2] + a[3])

34
l
i
f
e
n
life

In [41]:
a = "life is too short, you need python" 

print(a[0:4])
print(a[0:7])
print(a[12:17])

life
life is
short

In [47]:
a = "life is too short, you need python" 

print(a[19:])
print(a[22:])
print(a[0:17])
print(a[:17])
print(a[19:34])

print(a[19:])
print(a[22:])
print(a[0:17])
print(a[:17])
print(a[19:34])

print(a)
print(a[:])

you need python
 need python
life is too short
life is too short
you need python
you need python
 need python
life is too short
life is too short
you need python
life is too short, you need python
life is too short, you need python

In [49]:
 a = "20240806Sunny"

year = a[0:4]
day = a[4:8]
weather = a[8:]

print(year)
print(day)
print(weather)

2024
0806
Sunny

퀴즈 1 
* 출력값을 2024년 08월 06일, 오늘의 날씨는 sunny 입니다.
 a = "20240806Sunny"

In [53]:
 a = "20240806Sunny"

year = a[0:4]
month = a[4:6]
day = a[6:8]
weather = a[8:]



print(f"{year}년" {month}월 {day}일, "오늘의 날씨는 "{weather} 입니다)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3166843074.py, line 10)

In [56]:
a = "pithon"

a[1] = y

print(a)

NameError: name 'y' is not defined

In [58]:
a = "pithon"

print(a[0] + "y" + a[2:])
print(a)

python
pithon

### 문자열 포메팅

In [7]:
# 숫자 바로 대입(숫자는 %d)
a = 100

print("I eat %d apples.")
print("I eat %d apples." %3)
print("I eat %d apples." % a)
print("=" * 100)

# 문자열 바로 대입(문자는 %s)

print("I eat %s apples.")
print("I eat %s apples." % "five")

I eat %d apples.
I eat 3 apples.
I eat 100 apples.
====================================================================================================
I eat %s apples.
I eat five apples.

In [12]:
# 숫자 값을 나태내는 변수

number = 3
print("=I eat %d apples")  
print("=I eat %d apples" % number) 

print("I eat" + str(number) + "apples")

#  두개 이상의 값 넣기
number = 10
day = "three"

print("I ate %d apples. so I was sick for %s days." % (number, day))

=I eat %d apples
=I eat 3 apples
I eat3apples
I ate 10 apples. so I was sick for three days.

In [18]:
#  정렬과 공백
print("정렬과 공백 : %s" % "hi")
print("정렬과 공백 : %10s" % "hi")
print("정렬과 공백 : %20s" % "hi")
print("정렬과 공백 : %-20s" % "hi")
print("정렬과 공백 : %-20s|" % "hi") 
print("=" * 100)

정렬과 공백 : hi
정렬과 공백 :         hi
정렬과 공백 :                   hi
정렬과 공백 : hi
정렬과 공백 : hi                  |
====================================================================================================

In [23]:
# 소수점 표현하기(소수점 실수는 %f)
a = 3.141259

print("소수점 표현 : %f" % a)
print("소수점 표현 : %.4f" % a)
print("소수점 표현 : %.3f" % a)
print("=" * 100)
print("소수점 표현 : %20.3f" % a)
print("소수점 표현 : %20.3f|" % a)

소수점 표현 : 3.141259
소수점 표현 : 3.1413
소수점 표현 : 3.141
====================================================================================================
소수점 표현 :                3.141
소수점 표현 :                3.141|

### format 함수를 사용한 포매팅

In [31]:
# 숫자 바로 대입하기
print("I eat %d apples" % 3)
print("I eat {0} apples". format(3))
print("=" * 100)
# 문자열 바로 대입하기
print("I eat %d apples" % 3)
print("I eat %s apples" %"five")
print("I eat {0} apples". format("five"))
print("=" * 100)

I eat 3 apples
I eat 3 apples
====================================================================================================
I eat 3 apples
I eat five apples
I eat five apples
====================================================================================================

In [40]:
# 2개 이상 값 넣기

number = 10
day = "three"

print("Iate {0} apples. so I was sick for {1} days.")
print("Iate {0} apples. so I was sick for {1} days.". format(number, day))

# 이름으로 넣기

print("I ate {number} apples. so I was sick for {day} days.")
print("I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3))
print("I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3))

# 인덱스와 혼용으로 사용

print("I ate {0} apples. so I was sick for {day} days.".format(10,day = 3))

Iate {0} apples. so I was sick for {1} days.
Iate 10 apples. so I was sick for three days.
I ate {number} apples. so I was sick for {day} days.
I ate 10 apples. so I was sick for 3 days.
I ate 10 apples. so I was sick for 3 days.
I ate 10 apples. so I was sick for 3 days.

In [55]:
# 왼쪽 정렬
a = "hi"
print("정렬: {0}". format(a))
print("정렬: {0:<10}|". format(a))
print("정렬: {0:<20}|". format(a))
print("=" * 100)

# 오른쪽 정렬
print("정렬: {0:>10}|". format(a))
print("=" * 100)

# 가운데 정렬
print("정렬: {0:^10}|". format(a))

정렬: hi
정렬: hi        |
정렬: hi                  |
====================================================================================================
정렬:         hi|
====================================================================================================
정렬:     hi    |

In [63]:
#  공백 채우기
a = "hi"
print("공백: {0}"  .format(a))
print("공백: {0}|" .format(a))
print("공백: {0:^10}|" .format(a))
print("공백: {0:+^10}|" .format(a))
print("=" * 100)

공백: hi
공백: hi|
공백:     hi    |
공백: ++++hi++++|
====================================================================================================

In [69]:
# 소수점 표현
y = 3.141596

print("소수점 표현 : ")
print("소수점 표현 :{0}" .format(y))
print("소수점 표현 :{0:.2f}" .format(y))

소수점 표현 :
소수점 표현 :3.141596
소수점 표현 :3.14

### f문자열 포매팅

In [79]:
name = '홍길동'
age = 30

# 1
print("나의 이름은 %s입니다. 나이는 %d입니다." %( name, age))
# 2
print("나의 이름은 {0}입니다. 나이는 {1}입니다." .format( name, age))
# 3
print(f"나의 이름은 {name}입니다. 나이는 {age}입니다")

나의 이름은 홍길동입니다. 나이는 30입니다.
나의 이름은 홍길동입니다. 나이는 30입니다.
나의 이름은 홍길동입니다. 나이는 30입니다

In [80]:
print(f"나는 내년이면 {age + 1}살이 된다")

나는 내년이면 31살이 된다

In [87]:
d = {"{name}" : "홍길동", "age" : 30}
print(f"나의 이름은 {name}입니다. 나이는 {age}입니다")
print(f"나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.")

나의 이름은 홍길동입니다. 나이는 30입니다

KeyError: 'name'

In [95]:
a = "hi"
print(f"정렬 : {a}|")
#  왼쪽정렬
print(f"정렬 : {a:<10}|")
# 오른쪽 정렬
print(f"정렬: {a:>10}")
# 중앙정렬
print(f"정렬 : {a:^10}|")

# 공백채우기
print(f"공백채우기 :{a:=^10}|")

# 소수점 표현
y = 3.42134234
print(f"소수점 표현 : {y}")
print(f"소수점 표현 : {y}")

정렬 : hi|
정렬 : hi        |
정렬:         hi
정렬 :     hi    |
공백채우기 :====hi====|
소수점 표현 : 3.42134234
소수점 표현 : 3.42134234

### 문자열 관련 함수들
* count, find, index

In [103]:
# count()

a = "hobby"
a.count("b")
print(len(a))
print(a.count("b"))
print("hobby".count("b"))

5
2
2

In [108]:
# 위치 알려 주기 find()
a = "python is the best choice"
print(a.find("b"))
print(a.find("k"))

14
-1

In [110]:
# 위치 알려주기 (find와 다르게 찾는 값이 없는 경우 오류발생)
a = "life is too short"
print(a.index("t")) 
print(a.index("k"))

8

ValueError: substring not found

In [113]:
# 문자열 삽입 join

print(",".join("hello"))
print("/".join("hello"))

h,e,l,l,o
h/e/l/l/o

In [115]:
# upper()
a = "hi"
print(a.upper())

HI

In [116]:
#  lower(
b = "HELLO"
print(b.lower())

hello

In [124]:
#  왼쪽 공백 지우기 lstrip()
a = "     hi     "
print(a.lstrip())
print(f"|{a.lstrip()}|")

hi
|hi     |

In [126]:
#  오른쪽 공백 지우기 rstrip()
a = "     hi     "
print(f"|{a.rstrip()}|")

|     hi|

In [127]:
# 문자열 바꾸기 replace
a = "life is too short"
print(a.replace("life", "your leg"))

your leg is too short

In [138]:
#  문자열 나누기 split
a = "life is too short"
print(a.split())
print(a.split(":"))
b = "집:가고:싶다"
print(b.split(":"))
c = "집,가고,싶다"
print(c.split(","))

['life', 'is', 'too', 'short']
['life is too short']
['집', '가고', '싶다']
['집', '가고', '싶다']