### 집합자료형
*중복을 허용하지 않는다
*순서가 없다

In [7]:
s1 = set([1,2,3])
s1
print(type(s1))
s2 = set("집가고")
s2

<class 'set'>

{'가', '고', '집'}

In [10]:
# 리스트로 변환
s1 = set([1,2,3])

l1 = list(s1)
print(l1)
print(type(l1))

[1, 2, 3]
<class 'list'>

In [11]:
# 튜플로 변환
s1 = set([1,2,3])

t1 = tuple(s1)
print(t1)
print(type(t1))

(1, 2, 3)
<class 'tuple'>

### 교집합 합집합 차집합

In [15]:
s1 = [1,2,3,4,5]
s2 = [4,5,6,7,8,9]

s1 = set(s1)
s2 = set(s2)

# 교집합 구하기
result1= s1 & s2
print("교집합(&):", result1)
print("교집합(&):[형변환]", list(result1))

# 교집합 intersection()
result2 = s1.intersection(s2)
print("교집합(&):", result2)
print("교집합(intersection):[형변환]", list(result2))

교집합(&): {4, 5}
교집합(&):[형변환] [4, 5]
교집합(&): {4, 5}
교집합(intersection):[형변환] [4, 5]

In [19]:
s1 = [1,2,3,4,5]
s2 = [4,5,6,7,8,9]

s1 = set(s1)
s2 = set(s2)

# 합집합 |(shift\)
result1 =s1 | s2
print(result1)
print("합집합 :", result1)
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
합집합 : {1, 2, 3, 4, 5, 6, 7, 8, 9}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [30]:
s1 = [1,2,3,4,5]
s2 = [4,5,6,7,8,9]

s1 = set(s1)
s2 = set(s2)

# 차집합(-)
s1-s2
result1=s1-s2
print("차집합 : ", result1)

result2 =s2-s1
print("차집합 : ", result2)

# 차집합(diffrence())
result3 = s1.difference(s2)
print("차집합differencfe):", result3)
result4 =s2.difference(s1)
print("차집합difference) :", result4)

차집합 :  {1, 2, 3}
차집합 :  {8, 9, 6, 7}
차집합differencfe): {1, 2, 3}
차집합difference) : {8, 9, 6, 7}

### 값 1개 추가하기 add()

In [31]:
# 값 1개 추가하기
s1= set([1,2,3])
s1.add(4)
print(s1)

# 2개요소 추가시 에러, add는 하나만 입력가능

{1, 2, 3, 4}

In [35]:
# 값 여러개 추가하기 uddate()
s1 = set([1,2,3])
s1.update([1,2,3])
print(s1)

{1, 2, 3}

In [36]:
# 특정 값 제거하기 remove()
s1 = set([1,2,3])
s1.remove(2)
print(s1)

{1, 3}